
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Gris claro de fondo */
  color: #343a40; /* Gris oscuro para el texto */
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
}

h1 {
  color: #007bff; /* Azul para el título principal */
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 10px;
}

h2 {
  color: #6c757d; /* Gris más oscuro para el subtítulo */
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

hr {
  border-top: 2px solid #007bff; /* Línea azul */
  width: 80%;
  margin: 20px auto;
}

p {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6;
}

.text-center {
  text-align: center;
}

h3 {
  color: #28a745; /* Verde para el título de "Lenguajes y tecnologías" */
  margin-top: 30px;
}
